# gedit
*~

kladcode

#startup bat file
start_app

virtualenv

# eclipse
.settings

# pycharm
.idea

*.py[cod]

# Installer logs
pip-log.txt

# other logs
datauploadtool.log

# tmp files
.~*

# settings file: do not put on github publicly!!
settings

