# gedit
*~

kladcode.py

#startup bat file
start_app.bat

virtualenv

# eclipse
.settings

# pycharm
.idea

*.py[cod]

# Installer logs
pip-log.txt

# other logs
datauploadtool.log

# tmp files
.~*

# settings file: do not put on github publicly!!
settings.py

# ztoken file: do not put on github publicly!!
ztoken.txt
