{% extends "base.html" %}
{% block title %}File Uploader{% endblock %}

{% block page_content %}
<div class="container">
	
	<h1>Data Upload Tool</h1>
    <br>
	
	
	{% if fileupload == False %}
	    <blockquote>
        <p>Select the type of dataserver for storing the dataset.</p>
		<p>The dataset consists of one or more files that can be uploaded after creating the dataset folder.</p>
		<p>
		</blockquote>
		<br>
		
		<!-- <form class="form-horizontal" action='createdataset' method="post" onsubmit="return validateForm()">	 -->
		<form onsubmit="return validateForm()" class="form-horizontal" method="post" action='createdataset'>	
			<div class="form-group">
				<label for="radiobuttonsID" class="control-label col-sm-2">Store dataset on:</label>
				<div id="radiobuttonsID" class="col-sm-10 btn-group" data-toggle="buttons">
					<label class="btn btn-default active" title="Regular file server, suitable for all file types">
						<input checked name="server" value="regular" checked type="radio" >File server
					</label>
					<label class="btn btn-default disabled" title="Geoserver can store various geodata formats, such as shapefiles and GeoTIFFs. Data can be accessed using WMS and WFS, enabling online visualization and partial file downloads.">
						<input name="server" value="geoserver" type="radio">Geoserver
					</label>
					<label class="btn btn-default disabled" title="The THREDDS Data Server (TDS) is a web server that provides data access for scientific grid datasets (such as NetCDF), using a variety of remote data access protocols.">
						<input name="server" value="thredds" type="radio">THREDDS
					</label>
				</div>
			</div>		
				
			<div class="form-group">
				<label class="control-label col-sm-2" for="datasetnameID">Dataset name:</label>
				<div class="col-sm-4">          
					<input type="text" class="form-control" name="datasetname" title="The name should describe the dataset as good as possible and is used to create a unique folder on the file server."
					id="datasetnameID" placeholder="Dataset" value="{{ datasetfolder }}">
				</div>
				<div class="col-sm-2">
					<button type="submit" class="btn btn-default" title="Create a folder in which the files of the dataset are stored.">Create dataset folder</button>
				</div>		  
			</div>
		</form>		
		
		<br>	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Notes</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>This is a demonstration version for showing the functionality of the Data Upload Tool. Performance and storage space are limited.</li>
					<li>Currently, only a basic File Server is supported. We are working on providing a Geoserver and 
					THREDDS server for uploading specific spatial data formats, such as shapefiles and NetCDF. </li>	
				</ul>
			</div>
		</div>		
	{% endif %}

	
	{% if fileupload == True %}					
	    <blockquote>
        <p>Please upload the dataset files and click <strong> "Store dataset info" </strong> to return to the metadata tool.</p>
		</blockquote>
		<br>	
		
			
		<!-- The file upload form used as target for the file upload widget -->
		<!-- <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">    -->
		<form id="fileupload" method="POST" enctype="multipart/form-data">   
		
			<input type="hidden" name="dataset" value="{{ datasetfolder }}">
			
			<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
			<div class="row fileupload-buttonbar">
				<div class="col-lg-7">
					<!-- The fileinput-button span is used to style the file input field as button -->
					<span class="btn btn-success fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Add files...</span>
						<input type="file" name="file" multiple>
					</span>
					<button type="submit" class="btn btn-primary start">
						<i class="glyphicon glyphicon-upload"></i>
						<span>Start upload</span>
					</button>
					<button type="reset" class="btn btn-warning cancel">
						<i class="glyphicon glyphicon-ban-circle"></i>
						<span>Cancel upload</span>
					</button>				
					
					
<!-- 					<button type="button" class="btn btn-primary zip">
						<i class="glyphicon glyphicon-folder-open"></i>
						<span>Zip</span>
					</button>  						
					
					<input type="checkbox" class="toggle">Select all -->
					
					<!-- The global file processing state -->
					<span class="fileupload-process"></span>
				</div>		
				
				<!-- The global progress state -->
				<div class="col-lg-5 fileupload-progress fade">
					<!-- The global progress bar -->
					<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
						<div class="progress-bar progress-bar-success" style="width:0%;"></div>
					</div>
					<!-- The extended global progress state -->
					<div class="progress-extended">&nbsp;</div>
				</div>				

			</div>				
			
			<!-- The table listing the files available for upload/download -->
			<table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>		
			
		</form>	
		
		<br>
		
		<form action="submitfiles" class="form-inline">
			<input type="hidden" name="dataset" id="datasetID" value="{{ datasetfolder}}"> 			
			<button type="submit" class="btn btn-info">
				<i class="glyphicon glyphicon-import"></i>
				<span>Store dataset info</span>
			</button>
		</form>
		
		
		<br>	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Notes</h3>
			</div>
			<div class="panel-body">
				<ul>				    
					<li>You can <strong>drag &amp; drop</strong> files from your desktop on this webpage.</li>          
					<li>Built with <a href="https://github.com/blueimp/jQuery-File-Upload/"> JQuery File Upload, </a><a href="https://github.com/ngoduykhanh/flask-file-uploader"> Flask File Upload</a>, Twitter's <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> CSS framework and Icons from <a href="http://glyphicons.com/">Glyphicons</a></li>
				</ul>
			</div>
		</div>				
			
	{% endif %}			
	
</div> <!-- end div container -->	
	

{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">	
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}

</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.dataset%}\{%=file.name%}" download="{%=file.name%}">{%=file.dataset%}\{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
<!--         <td>		
			<input type="checkbox" name="delete" value="{%=file.url%}" class="toggle">
		</td> -->
    </tr>
{% } %}
</script>
{% endraw %}	
	
	
{% endblock %}


{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{url_for('static', filename='js/vendor/jquery.ui.widget.js')}}"></script>	
<!-- <script src="static/js/vendor/jquery.ui.widget.js"></script> -->
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->

<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
<!-- The basic File Upload plugin -->
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<!-- The File Upload processing plugin -->
<script src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}"></script>
<!-- The File Upload validation plugin -->
<script src="{{ url_for('static', filename='js/jquery.fileupload-validate.js') }}"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ url_for('static', filename='js/jquery.fileupload-ui.js') }}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>

<!-- The main application script -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
{% endblock %}