{% extends "base.html" %}
{% block title %}File Uploader{% endblock %}

{% block page_content %}
<div class="container">
    <h1>Data Upload Tool</h1>
    <br>
    <blockquote>
        <p>Please fill in the name of the dataset that will be uploaded 
		</p>
    </blockquote>
    <br>
	
	<form action='createdataset' method="post">
		<div class="form-group">
		<label>Name</label>
		<input type="text" name="datasetname" class="form-control" id="datasetnameID" placeholder="dataset">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	
{% endblock %}
